<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
    <div id="my-app">
        <div id="app-aside">
            <ul id="app-aside-nav">
                <li>
                    <a class="nav-link" href="/">Dashboard</a>
                </li>
                <li>
                    <a class="nav-link" href="/recap-of-the-day">Recap Of The Day</a>
                </li>
            </ul>
        </div>
        <div id="app-content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>